<!--
Created by: Edem Dumenu
Date: 3/19/2018
Description: This footer for the home page
-->

<!-- Footer -->
<div class="footer">
<footer class="page-footer py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>
</div>