<!--
Created by: Edem Dumenu
Date: 4/121/2018
Description: This page handles all the custom display messages
-->

<!-- Error message -->
{{#if error_message}}
    <div class="alert alert-danger">
        {{error_message}}
    </div>
{{/if}}

<!-- Error message -->
{{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
{{/if}}

<!-- Success message -->
{{#if success_message}}
    <div class="alert alert-success">
        {{success_message}}
    </div>
{{/if}}